@model IEnumerable<WebApp.Models.DBModels.Customer>
<div class="table-responsive  ">

    <table class="table table-hover table-striped DataTable " id="Customerid">

        <thead><tr><td style="display:none;">Id</td><td>Select</td><td>Name</td><td>Phone</td><td>Address</td></tr></thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr><td class="CustomerID" style="display:none;">@item.CustomerID </td><td> <button type="button" class="SelectCustomer"><i class="fas fa-hand-pointer" style="color: #339af0;"></i></button></td><td class="CustomerName">@item.CustomerName </td><td>@item.PhoneNumber </td><td>@item.CustomerDetails </td></tr>

            }

        </tbody>
    </table>


</div>










